/node_modules
/public/hot
/storage/*.key
/formations/front_img/*.*
/formations/question_img/*.*
/user_background/*.*
/vendor
/node_modules/
/public/.htaccess
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.testing
/.idea
vite.config.js
/reports
/public/storage/RI/*
/public/storage/formations/*
/public/storage/temp_upload/*
/public/storage/user_background/*
/public/storage/test/poudre/*
/storage/app/public/RI/*
/storage/app/public/temp/factures/*
/storage/app/public/formations/front_img/*
/storage/app/public/formations/question_img/*
/storage/app/public/temp_upload/*
/storage/app/public/user_background/*
/storage/app/public/test/poudre/*
