/node_modules
/public/hot
/storage/*.key
/formations/front_img/*.*
/formations/question_img/*.*
/user_background/*.*
/vendor
/node_modules/
/public/.htaccess
.env
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.testing
/.idea
vite.config.js
/reports
/public/storage/*.*
/public/storage/
/public/storage/*

