//Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;800&family=Nunito:wght@200;300&display=swap');

//Predeined Color
$heavytext: #FFF;
$lighttext: #E9E9E9;
$bgmain: #302E38;
$bgmaisvar: #3A3743;
$bg2: #3D487B;
$bg2var: #435089;
$boom: #ED3444;
$bg1: #1B2037;
$bg1var: #222844;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$disabled: #303030;
$green_light: #00FF00;
$red_light: #FF0000;

//Border radius
$border-radius: 10px;

//Glow function
@function text_glow($color){
    @return 0 0 30px $color;
}
@function box_glow($color, $blur: 20px, $size: 7px){
    @return 0 0 $blur $size $color;
}

.fixed-top-right{
    position: fixed;
    top: 70px;
    right: 10px;
    background-color: $bg1;
    padding: 15px;
    border-radius: $border-radius;
    button{
        font-size: 20px;
        color: $lighttext;
    }
}

//Test predefinition
h1{
    font-family: 'Baloo 2';
}

.clickable{
    font-weight: 600;
    cursor: pointer;
}

h1{
    font-family: 'Baloo 2';
    font-weight: 800;
    font-size: 35px;
    color: $heavytext;
}
h2{
    font-family: 'Baloo 2';
    font-weight: 700;
    font-size: 30px;
    color: $heavytext;
}
h3{
    font-family: 'Baloo 2';
    font-weight: 600;
    font-size: 28px;
    color: $heavytext;
}
h4{
    font-family: 'Baloo 2';
    font-weight: 500;
    font-size: 26px;
    color: $heavytext;
}
h5{
    font-family: 'Baloo 2';
    font-weight: 400;
    font-size: 24px;
    color: $heavytext;
}
h6{
    font-family: 'Baloo 2';
    font-weight: 300;
    font-size: 20px;
    color: $heavytext;
}
h1, h2, h3, h4, h5, h6{
    margin: 0 0;
}
p{
    font-family: 'Baloo 2';
    font-weight: 300;
    font-size: 20px;
    color: $heavytext;
}
//Input Predefinition
input, select, textarea {
    color: $heavytext;
    background-color: $bg2;
    margin: 10px 0;
    font-size: 15px;
    font-family: 'Baloo 2';
    font-weight: 500;
    box-shadow: none;
    border: none;
    border-radius: $border-radius;
    padding: 10px;

    &::placeholder {
        color: $lighttext;
    }

    &:-webkit-autofill {
        background-color: $bg2 !important;
        color: $lighttext !important;
    }
}
a, p, label{
    color: $heavytext;
    font-family: "Baloo 2";
    font-weight: normal;
    font-size: 20px;
}
a{
    text-decoration: none;
}



//Btn component
.btn{
    height: fit-content;
    width: fit-content;
    padding: 5px 10px;
    background-color: $bg2;
    border-radius: $border-radius;
    border: none;
    color: $lighttext;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: 400ms cubic-bezier(0.28,-0.46, 0.33, 1.5);
    img{
        width:40px;
        height: auto;
        margin:auto 10px;
    }
    &:hover{
        -webkit-transform: scale(1.2);
    }
    &:disabled{
        opacity: 0.7;
        color: $disabled !important;
        transition: none;
        cursor: default;
        animation: none;
        &:hover{
            transform: none;
        }
    }
}
.--big{
    color: $heavytext;
    font-family: "Baloo 2";
    font-weight: 600;
    font-size: 25px;
}

.--medium{
    color: $lighttext;
    font-family: "Nunito";
    font-weight: 500;
    font-size: 18px;
}

//Form
.form-column{
    display: flex;
    flex-direction: column;
}
.form-input{
    height: 50px;
}
.form-error{
    p{
        color: $red_light;
        margin: 0;
    }
}
.form-healper{
    font-weight: 400 !important;
    font-style: italic !important;
    font-family: Nunito !important;
    font-size: 15px !important;
    opacity: 25% !important;
    color: $lighttext;
}
.form-item{
    label{
        font-size: 23px;
        font-weight: 510;
    }
}
.form-line{
    display: flex;
    flex-direction: row;
}

.form-error{
    border: $red_light 1px solid !important;
}
.errors-list{
    li{
        font-size: 20px;
        font-weight: 400;
        color: red;
    }
    ul{
        margin: 0;
    }
    font-family: "Baloo 2";
    font-weight: 500;
    color: $boom;
}

//Card component
.Card{
    background-color: $bg1;
    height: min-content;
    width: 400px;
    margin: 20px;
    border-radius: $border-radius;
    .card-header{
        border-bottom: 1px $boom solid;
        padding: 10px;
        h3{
            text-align: center;
        }
    }
    .card-content{
        margin-top: 5px;
        padding: 10px;
    }
}

//Switch Btn
.checker {
    display: block;
    font-size: 20vmin;
    height: 1em;
    width: 2.5em;
    box-sizing: content-box;
    padding: 0.15em;
    border-radius: 0.25em;
    transition: transform var(--duration) ease;
    cursor: pointer;
}

.checkmark {
    width: 1em;
    height: 1em;
    transition: transform var(--duration) ease;
    transform: translateX(-.4em);

    z-index: 5;

    svg {
        display: block;
        background: #e5e5e5;
        transform: translateX(.4em);
        border-radius: 0.15em;

        transition:
            background-color var(--duration) ease,
            transform calc(var(--duration) * 1.5) ease;

        path {
            // opacity: 0;
            stroke-dasharray: 90 90;
            stroke-dashoffset: 90;
            transition: stroke-dashoffset calc(var(--duration) / 3) linear calc(var(--duration) / 3);
        }

    }
}
//Switch
.onoffswitch {
    position: relative; width: 120px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    .onoffswitch-checkbox {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        border-radius: $border-radius;
    }
    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        transition: 400ms cubic-bezier(0.28,-0.46, 0.33, 1.5);
        &:before, &:after{
            display: block; float: left; width: 50%; height: 40px; padding: 0; line-height: 35px;
            font-size: 20px; color: $heavytext; font-family: 'Baloo 2', monospace; font-weight: bold;
            box-sizing: border-box;
            border: 2px solid transparent;
        }
        &:before{
            content: "OUI";
            padding-left: 20px;
            background-color: #2DF037; color: $bg1;
        }
        &:after{
            content: "NON";
            padding-right: 20px;
            background-color: #DB1B1B; color: $bg1;
            text-align: right;
        }
    }
    .onoffswitch-switch {
        display: block; width: 50px; margin: 0; height: 50px;
        background: $bg2;
        border-radius: $border-radius;
        position: absolute; top: -5px; bottom: 0;
        right: 80px;
        transition: 300ms cubic-bezier(0.28,-0.46, 0.33, 1.5);
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: -5px;
    }
}

//Searcher
.searcher{
    margin: 20px 0;
    background-color: $bg1;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 400px;
    border-radius: 10px;

    .searcher-input{
        border-radius:  0 10px 10px 0;
        margin: 0;
        width: 100%;
        background-color: $bg1;
    }
    .searcher-icon{
        padding: 5px;
        width: 40px;
        height: 40px;
        border-radius: 10px 0 0 10px;
        background-color: $bg2var;
    }

}
.PageNavigator{
    button{
        background-color: $bg1;
        border: none;
        border-radius: $border-radius;
        padding: 5px;
        margin: 0 7px;
        transition: all 300ms;
        cursor: pointer;
        img{
            width: 40px;
            height: 40px;
        }
        &:hover{
            background-color: $bg2var;
        }
        &:disabled{
            opacity: 60%;
            cursor: not-allowed;
            &:hover{
                background-color: $bg1;
            }
        }
    }
}

//Animations
@keyframes SlideLeft {
    0% {
        margin-left: 120%;
    }

    100% {
        margin-left: 0;
    }
}


@keyframes SlideRight {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 120%;
    }
}

//Table
.table-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .PageNavigator{
        margin: auto 0;
    }
}
table{
    border-collapse: collapse;
    th{
        position: sticky;
        top: 0;
        background-color: $bg2;
        z-index: 10;
        &:last-child{
            border-radius: 0 $border-radius 0 0;
        }
        &:first-child{
            border-radius: $border-radius 0 0 0;
        }
    }
    tr{
        border: $boom 1px solid;
        height: 10px;
        border-left: none;
        border-right: none;
        &:last-child{
            border-bottom: none !important;
        }
        &:first-child{
            border-top: none !important;
        }
    }
    td,th{
        padding: 5px 20px;
        text-align: center;
        border: $boom 1px solid;
        border-top: none;
        border-bottom: none;
        img{
            width: 25px;
            height: auto;
        }
        &:first-child{
            border-left: none;
        }
        &:last-child{
            border-right: none;
        }
        .btn{
            background-color: $bg1;
            img{
                width: 25px;
                height: auto;
            }
        }
    }
    th{
        font-family: 'Baloo 2';
        font-size: 25px;
        color: $heavytext;
    }
    td{
        color: $lighttext;
        font-family: 'Nunito';
        font-size: 22px;
    }
}

.exporter{
    background-color: $bg1;
}


