// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//My Colors
$bg: #313124;
$light_blue: #00FFFF;
$medium_blue: #004662;
$dark_blue: #0C2646;

$disabled: #303030;

$green_light: #00FF00;
$red_light: #FF0000;


//border radius
$border-radius: 30px;


//Glow function
@function text_glow($color){
    @return 0 0 30px $color;
}
@function box_glow($color, $blur: 20px, $size: 7px){
    @return 0 0 $blur $size $color;
}
//Defaults
h1{
    font-family: "Baloo Thambi 2", serif;
    font-weight: 800;
    font-size: 30px;
    color: $light_blue;
}
h2{
    font-family: "Baloo Thambi 2", serif;
    font-weight: 700;
    font-size: 25px;
    color: $light_blue;
}
h3{
    font-family: "Baloo Thambi 2", serif;
    font-weight: 600;
    font-size: 20px;
    color: $light_blue;
}
h4{
    font-family: "Baloo Thambi 2", serif;
    font-weight: 500;
    font-size: 20px;
    color: $light_blue;
}
h5{
    font-family: "Baloo Thambi 2", serif;
    font-weight: 400;
    font-size: 18px;
    color: $light_blue;
}
h6{
    font-family: "Baloo Thambi 2", serif;
    font-weight: 300;
    font-size: 15px;
    color: $light_blue;
}
h1, h2, h3, h4, h5, h6{
    margin: 0 0;
}
input, select, textarea {
    color: $light_blue;
    background-color: $medium_blue;
    margin: 10px 0;
    font-size: 20px;
    font-family: 'Baloo Thambi 2', monospace;
    font-weight: 500;
    box-shadow: none;
    border: none;
    border-radius: $border-radius;
    padding: 10px;

    &::placeholder {
        color: $light_blue;
    }

    &:-webkit-autofill {
        background-color: $medium_blue !important;
        color: $light_blue !important;
    }
}
a, p, label{
    color: $light_blue;
    font-family: "Baloo Thambi 2", monospace;
    font-weight: normal;
    font-size: 20px;
}

.Title{
    font-size: 35px;
    font-family: 'Baloo Thambi 2', monospace;
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
}

.Form-Line{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.btn{
    height: fit-content;
    width: fit-content;
    padding: 10px 20px;
    background-color: $medium_blue;
    color: $light_blue;
    border-radius: $border-radius;
    font-family: "Baloo Thambi 2", monospace;
    font-weight: 600;
    font-size: 25px;
    border: none;
    cursor: pointer;
    transition: 400ms cubic-bezier(0.28,-0.46, 0.33, 1.5);
    &:hover{
        -webkit-transform: scale(1.2);
    }
    &:disabled{
        opacity: 0.7;
        transition: none;
        cursor: default;
        &:hover{
            -webkit-transform: scale(1) !important;
        }
    }
}

.form-error{
    p{
        color: $red_light;
        margin: 0;
    }
}

.TableBottom{
    background-color: $medium_blue;
    width: 100%;
    height: 100px;
    position: sticky;
    bottom: 0;
    border-top: 1px $dark_blue solid;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    z-index: 10;
    .searsh{
        display: flex;
        input{
            margin: auto 20px;
            background-color: $dark_blue;
        }
    }
    .pages{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-right: 30px;
        button{
            background-color: $dark_blue;
            border-radius: 20px;
            font-size: 30px;
            font-weight: 700;
            border: none;
            color: $light_blue;
            margin: auto 0;
            font-family: 'Baloo Thambi 2', monospace;
            padding: 5px 20px;
            cursor: pointer;
            transition: all 500ms;
            &:hover{
                transform: scale(1.2) rotate(5deg);
            }
        }
        h5{
            font-size: 30px;
            font-weight: 700;
            margin: auto 10px;
        }
    }
}

.title-contain{
    background-color: $dark_blue;
    border-radius: $border_radius;
    padding: 5px;
    h1{
        font-size: 58px;
        padding: 5px;
    }
}

.beta{
    width: 70px;
    height: 45px;
    border: 1px #FFa500 solid;
    background-color: rgba(255,140,0,0.1);
    display: flex;
    border-radius: 40px;
    &:after{
        padding: 7px;
        margin: auto;
        font-size: 20px;
        font-family: "Baloo Thambi 2", monospace;
        content: 'bêta';
        color: #FFa500;
    }
}

.onoffswitch {
    position: relative; width: 120px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    .onoffswitch-checkbox {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        border-radius: $border-radius;
    }
    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        transition: 400ms cubic-bezier(0.28,-0.46, 0.33, 1.5);
        &:before, &:after{
            display: block; float: left; width: 50%; height: 40px; padding: 0; line-height: 35px;
            font-size: 20px; color: $medium_blue; font-family: 'Baloo Thambi 2', monospace; font-weight: bold;
            box-sizing: border-box;
            border: 2px solid transparent;
        }
        &:before{
            content: "OUI";
            padding-left: 20px;
            background-color: #2DF037; color: $dark_blue;
        }
        &:after{
            content: "NON";
            padding-right: 20px;
            background-color: #DB1B1B; color: $dark_blue;
            text-align: right;
        }
    }
    .onoffswitch-switch {
        display: block; width: 50px; margin: 0; height: 50px;
        background: $medium_blue;
        border-radius: 30px;
        position: absolute; top: -5px; bottom: 0;
        right: 80px;
        transition: 300ms cubic-bezier(0.28,-0.46, 0.33, 1.5);
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: -5px;
    }
}

//Notifications
.notifications-component {
    top: 0;
    right: 0;
    z-index: 154400;
    pointer-events: none;
    position: fixed;
    width: 500px;
    height: 100vw;
    .notification-container--top-right{
        right: 20px;
        top: 20px;
        min-width: 370px;
        position: absolute;
        pointer-events: all;
        .notification{
            min-height: 65px;
            width: 370px;
            transition: height 600ms linear 0ms;
            margin-left: auto;
            .notification__item {
                display: flex;
                position: relative;
                border-radius: 3px;
                margin-bottom: 15px;
                box-shadow: 1px 3px 4px rgba(0,0,0,.2);
                cursor: pointer;
                .notification__content {
                    padding: 8px 15px;
                    display: inline-block;
                    width: 100%;
                    .notification__message {
                        color: #fff;
                        max-width: calc(100% - 15px);
                        font-family: "Baloo Thambi 2", monospace;
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 150%;
                        word-wrap: break-word;
                        margin-bottom: 0;
                    }
                    .notification__timer{
                        background-color: $dark_blue;
                        width: 100%;
                        margin-top: 10px;
                        border-radius: 20px;
                        .notification__timer-filler{
                            height: 10px !important;
                            background-color: $medium_blue;
                            border-radius: 20px;
                            animation-name: timer;
                            animation-duration: 3000ms;
                            animation-timing-function: linear;
                            animation-fill-mode: forwards;
                            animation-play-state: running;
                        }
                    }
                }
            }
            .notification__item--danger {
                background-color: $red;
                border-left: 8px solid #bd1120;
            }
            .notification__item--warning {
                background-color: $orange;
                border-left: 8px solid #b06319;
            }
            .notification__item--info{
                background-color: $purple;
                border-left: 8px solid #5b20b3;
            }
            .notification__item--success {
                background-color: $green;
                border-left: 8px solid #118c45;
            }

        }
    }
}
@keyframes timer{0%{width:100%}to{width:0}}

