@import 'variables';

/* width */
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
    background: $disabled;
    border-radius: 10px;
}
*{
    scrollbar-color: $disabled;
    scrollbar-width: thin;
}

//Notifications
.notification-wrapper {
    position: fixed;
    height: calc(100vh - 80px);
    top: 80px;
    right: 10px;
    width: 350px;
    pointer-events: none;
    z-index: 15;
    .notification-item{
        padding: 5px 10px;
        min-height: 65px;
        pointer-events: all;
        box-shadow: 0 0 10px rgba(0,0,0, 0.3), 1px 3px 4px rgba(0,0,0,.2);
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;
        animation: SlideLeft 0.4s;
        animation-fill-mode: forwards;
        width: 90%;
        cursor: pointer;
        p{
            color: #fff;
            max-width: calc(100% - 15px);
            font-family: "Baloo 2", monospace;
            font-weight: 600;
            font-size: 22px;
            line-height: 100%;
            word-wrap: break-word;
            margin-top: 10px;
        }
    }
    .danger {
        background-color: $red;
        border-left: 8px solid #bd1120;
    }
    .warning {
        background-color: $orange;
        border-left: 8px solid #b06319;
    }
    .info{
        background-color: $purple;
        border-left: 8px solid #5b20b3;
    }
    .success {
        background-color: $green;
        border-left: 8px solid #118c45;
    }
    .exit {
        animation: SlideRight 0.4s;
        animation-fill-mode: forwards;
    }
    .undefined{
        display: none;
    }
}
//Progress bar
.bar{
    background-color: $bgmain;
    width: 100%;
    margin-top: 10px;
    border-radius: 20px;
    .bar--filler{
        height: 10px !important;
        background-color: $bg2;
        border-radius: 20px;
    }
}
//Uploader
.uploader--container{
    width: 240px;
    height: 135px;
    border-radius: $border-radius;
    background-color: $bg2;
    position: absolute;
    overflow:hidden;
    .img{
        position: relative;
        width: 100%;
        height: 100%;
        filter: blur(2px);
    }
    .Uploader{
        width: 100%;
        height: 100%;
    }

    label{
        width: 100%;
        top: 10%;
        position: absolute;
        display: block;
        text-align: center;

    }
    .upload-btn{
        position: absolute;
        top: 40%;
        left: calc(50% - 92px);
        background-color: $bgmain;
        border-radius: $border-radius;
        border: none;
        color: $heavytext;
        font-family: "Baloo 2";
        padding: 10px;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        transition: 400ms cubic-bezier(0.28,-0.46, 0.33, 1.5);
        &:hover{
            -webkit-transform: scale(1.2);
        }
        &:disabled{
            opacity: 0.7;
            transition: none;
            cursor: default;
            animation: none;
            &:hover{
                transform: none;
            }
        }
    }
    .bar{
        position: absolute;
        left: 10%;
        top: 80%;
        width: 80%;
        .bar--filler{
            background-color: $bg2;
        }
    }
    .hasFile{
        display: none;
    }
    .delete{
        position: absolute;
        background: transparent;
        border: none;
        top: 25%;
        left: 35%;
        cursor: pointer;
        transition: 400ms cubic-bezier(0.28,-0.46, 0.33, 1.5);
        &:hover{
            -webkit-transform: scale(1.2);
        }
        &:disabled{
            opacity: 0.7;
            transition: none;
            cursor: default;
            animation: none;
            &:hover{
                transform: none;
            }
        }
    }
    .anyFile{
        display: none;
    }


}

//App Wrapper
html{
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}
body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.AppContainer{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#app{
    height: 100vh;
    width: 100vw;
    background-color: $bgmain;
}

//Login & Register Component
.Auth{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url('/assets/bg/BG_1.jpg');
    .Authentifier{
        margin: auto;
        width: 95%;
        max-width: 400px;
        background-color: $bg1;
        display: flex;
        flex-direction: column;
        border-radius: $border-radius;
        .auth-header{
            padding: 20px;
            img{
                width: calc(100% - 20px);
            }
        }
        .auth-content{
            border-top: 1px $boom solid;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h1, a{
                margin: 10px auto 20px auto;
            }
            h1, h3,h4{
                text-align: center;
            }
            .form-part{
                width: calc(100% - 20px);
                padding: 0 10px;
                input[type='number']{
                    -moz-appearance: textfield;
                    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
                        -webkit-appearance: none;
                    }
                }
            }
            .form-line{
                width: calc(100% - 20px);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                label{
                    margin: auto 0;
                }
                select{
                    margin-left: 20px;
                    width: 100%;
                }
            }
        }
        .auth-footer{
            border-top: 1px $boom solid;
            width: 100%;
            display: flex;
            a, button{
                margin: 20px auto 10px auto;
            }
        }

    }
}

//Service Selector
.ServiceNav{
    background-image: url("assets/bg/BG_2.jpg");
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: center;
    .ServiceSelector{
        margin: auto auto;
        img{
            width: 100px;
        }
        ul{
            background-color: rgba(220,220,220,0.2);
            padding: 0;

            overflow: hidden;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            border-radius: $border-radius;
            li{
                margin: 1%;
                border-radius: $border-radius;
                transition: all 500ms;
                display: flex;
                background-color: $bg1;
                list-style: none;
                height: 175px;
                width: 175px;
                cursor: pointer;
                div{
                    margin: auto auto;
                    h2{
                        text-align: center;
                    }
                }
                &:hover{
                    background-color: $bg1var;
                }
            }


        }
    }
}

//Layout & Headers
.layout{
    height: 100vh;
    width: 100vw;
    .layout-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
        height: 60px;
        position: fixed;
        z-index: 14;
        top: 0;
        left: 0;
        background-color: $bg1;
        border-bottom: rgba(233, 233, 233,0.4) 1px solid;
        .header-menu{
            width: 300px;
            background-color: $bg2;
            display: flex;
            flex-direction: row;
            justify-content: left;
            padding-left:20px;
            cursor: pointer;
            img{
                width: auto;
                height: 30px;
                margin: auto 20px auto 0;
            }
            h1{
                margin: auto 0;
            }
            .service-name{
                margin-right: 20px !important;
                margin-left: auto;
                height: 45px;
                width: auto;
            }
        }
        .header-logout{
            width: 60px;
            background-color: $bg2;
            cursor: pointer;
            display: flex;
            img{
                width: auto;
                height: 90%;
                margin: auto;
            }
        }
    }
    .menu{
        position : fixed;
        top: 60px;
        left: 0px;
        background-color: $bg1;
        z-index: 12;
        height:100vh;
        border-right: rgba(233, 233, 233,0.4) 1px solid;
        width: 320px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        .menu-header{
            padding-left: 10px;
            height:190px;
            display: flex;
            flex-direction: column;
            margin: 10px 0;
            .menu-link-big{
                font-weight: 'Baloo 2';
                cursor: pointer;
                font-size: 25px;
                color: $heavytext;
            }
        }
        .menu-scrollable{
            margin: 10px 0;
            border-top: 1px solid $boom;
            border-bottom: 1px solid $boom;
            padding-left: 10px;
            height: calc(100% - 390px);
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            .menu-item{
                margin-bottom: 10px;
                h2{
                    position: relative;
                    overflow: hidden;
                    padding-right: 10px;
                    margin-bottom: 5px;
                    span{
                        font-size: 27px;
                        margin-left: 5px;
                        padding: 0 5px 0 12px;
                        z-index: 12;
                        border-left: 7px $bg1var solid;
                        border-left-color: $bg1var;
                        width: fit-content;
                        position: relative;
                        top: 2px;
                        &:after{
                            position: absolute;
                            width: 300px;
                            height: 2px;
                            top: 50%;
                            left: calc(100% + 5px);
                            content: " ";
                            background-color: $bg1var;
                            z-index: 0;
                        }

                    }

                    &:before{
                        position: absolute;
                        width: 10px;
                        height: 2px;
                        top: 51%;
                        left: 11px;
                        background-color: $bg1var;
                        content: " ";
                        z-index: 0;
                    }
                }
                ul{
                    margin: 0;
                    .menu-puce{
                        list-style: none;
                    }
                }
                .menu-link{
                    font-weight: Nunito;
                    cursor: pointer;
                    font-size: 22px;
                    color: $lighttext;
                }
            }

        }
        .menu-footer{
            margin: 10px 0;
            padding-left: 10px;
            height: 80px;
            display: flex;
            flex-direction: column;
            h3{
                color: $lighttext;
                opacity: 20%;
                font-size: 25px;

            }

        }
    }
}

.app-page-container{
    margin-top: 60px;
}

.rapports{
    width: 100vw;
    height: 100vh;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    padding-top: 20px;
    .cool{
        text-align: center;
        color: $green_light;
    }
    .pascool{
        text-align: center;
        color: $red_light;
    }
    .collumn{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    &:last-child{
        margin-bottom: 200px;
    }
    .card{
        margin: min(10px, 20px);
        overflow: hidden;
        textarea{
            width: 100%;
        }
    }
    .form-line{
        justify-content: space-between;
        .onoffswitch{
            margin-right: 50px;
        }
    }
}

.dossiers{
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    overflow-y: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .table{
        display: flex;
        flex-direction: column;
        .table-header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .PageNavigator{
                margin: auto 10px;
            }
        }
        .table-content{
            background-color: $bg1;
            border-radius: $border-radius;
            table{
                width: 100%;
            }
        }

    }
    .patient-form{
        .cool{
            text-align: center;
            color: $green_light;
        }
        .pascool{
            text-align: center;
            color: $red_light;
        }
        margin: 20px 10px;
        display: flex;
        .Card{
            margin: auto 0;
            .btn{
                margin: 20px auto 0 auto;
            }
        }
    }
}

@media  (max-width: 900px) {
    .RapportReview{
        flex-wrap: wrap;
    }
}
@media all and (min-width: 900px) {
    .RapportReview{
        flex-wrap: nowrap;
    }
}

.RapportReview{
    transition: all 400ms;
    padding: 20px 10px;
    width: calc(100vw - 20px);
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-y: auto;
    .interList{
        height: 100vh;
        display: flex;
        .Card{
            margin: auto 0;
            height: 80vh;

            .intervention-table{
                padding: 10px;
                background-color: $bg2;
                border-radius: $border-radius;
                height: 70%;
                overflow-y: auto;
            }
            .inter-item{
                border-bottom: 1px $boom solid;
                margin: 5px 0;
                padding: 5px 0;
                border-radius: $border-radius $border-radius 0 0;
                transition: all 400ms;
                cursor: pointer;
                h5{
                    font-weight: 300;
                    color: $lighttext;
                    transition: all 400ms;
                }
                &:last-child{
                    border-bottom: none;
                }
                &:hover{
                    background-color: $bg2var;
                    h5{
                        font-weight: 500;
                        color: $heavytext;
                    }
                }
            }
            .navigation{
                height: 15%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                .btn{
                    margin: auto 0;
                }
            }
        }
    }
    .intervention{
        margin: auto 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .form-line{
            justify-content: space-between;
            .onoffswitch{
                margin-right: 50px;
            }
        }
    }

}

@media  (max-width: 1350px) {
    .testPoudre{
        flex-wrap: wrap;
    }
}
@media all and (min-width: 1350px) {
    .testPoudre{
        flex-wrap: nowrap;
        section {
            border-left: none
        }
    }
}

@media  (max-width: 650px) {
    .test-component{
        flex-wrap: wrap;
        section{
            width: 100%;
        }
    }
}
@media all and (min-width: 650px) {
    .test-component{
        flex-wrap: nowrap;

        section{
            width: 50%;
            &:last-child{
                border-left: 1px solid $boom;
            }
        }
    }
}

.testPoudre{
    transition: all 400ms;
    padding: 20px 10px;
    width: calc(100vw - 20px);
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-y: auto;
    .makeTest{
        display: flex;
        margin: auto 0;
        .Card{
            display: flex;
            flex-direction: column;
            width: 90%;
            max-width: 600px;
        }
        .test-component{
            display: flex;
            flex-direction: row;
            section{
                padding: 20px;

            }
            .poudre{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .poudre-presence{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
            }
        }
        .footer{
            border-top: 1px solid $boom;
            padding: 10px 0;
            display: flex;
            .btn{
                margin: 0 auto;
            }
        }
    }
    .test-table{
        display: flex;
        flex-direction: column;
        .table-content{
            background-color: $bg1;
            border-radius: $border-radius;
        }
    }
}

.BC-View{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: calc(100vw - 20px);
    height: calc(100vh - 80px);
    overflow-y: auto;
    .form-title{
        padding: 0 20px;
        justify-content: space-between;
        label{
            font-size: 25px;
            font-weight: 700;
            font-family: "Baloo 2";
        }

    }
    .BC-Header{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .BC-Place, .BC-Starter,{
            display: flex;
            flex-direction: row;
            background-color: $bg1;
            border-radius: $border-radius;
            padding: 10px 5px;
            h5{
              font-size: 30px;
              font-weight: 700;
              font-family: "Baloo 2";
              margin: auto 0;
            }
            img{
                margin: auto 0 auto 10px;
                width: 35px;
                height: 35px;
            }
        }
        .BC-Commands{
            display: flex;
            flex-direction: row;
            justify-content: center;
            button{
                background-color: $bg1;
                font-size: 25px;
                margin: auto 10px;
            }
        }
    }
    .BC-Content{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 100%;
        .BC-infos{
            .form-title{
                button{
                    background-color: $bg1;
                }
            }
            display: flex;
            flex-direction: column;
            width: 30%;
            height: 100%;
            min-width: 300px;
            max-width: 500px;
            justify-content: space-evenly;
            .BC-infosForm{
                background-color: $bg1;
                border-radius: $border-radius;
                padding: 10px;
            }
            .BC-personnel{
                background-color: $bg1;
                border-radius: $border-radius;
                padding: 10px;
                margin-top: 10px;
                .form-line{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .btn{
                        margin: auto 0;
                    }
                }
                .Personnel-list{
                    border: rgba(233, 233, 233,0.4) 1px solid;
                    max-height: 250px;
                    height: calc(90% - 20px);
                    overflow-y: auto;
                    background-color: $bg2;
                    border-radius: $border-radius;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    padding: 5px;
                    .personnel-tag{
                        margin: 5px;
                        display: flex;
                        flex-direction: row;
                        padding: 5px 7px;
                        list-style: none;
                        background-color: $bg1;
                        border-radius: $border-radius;
                        img{
                            margin: auto 0 auto 5px;
                            width: 30px;
                            height: auto;
                        }
                        h6{
                            margin: auto 0;
                        }
                    }
                }
            }
        }
        .BC-Patient{
            width: 30%;
            min-width: 275px;
            max-width: 450px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            .BC-PatientAdder{
                .form-title{
                    justify-content: space-evenly !important;
                }
                background-color: $bg1;
                border-radius: $border-radius;

                padding: 15px;
                .form-line{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                    &:last-child{
                        margin-top: 20px;
                    }
                }

            }
            .BC-InetDetails{
                .form-title{
                    button{
                        background-color: $bg1;
                    }
                }
                background-color: $bg1;
                border-radius: $border-radius;
                padding: 5px;
                textarea{
                    width: 100%;
                    height: 100px;
                    overflow-y: auto;
                }
            }
        }
        .PatientList{
            width: 45%;
            min-width: 275px;
            max-width: 500px;
            height: 100%;
        }
    }

}
.PatientList{
    .card{
        height: 80vh;
        width: 100%;
        .patient-listing{
            height: calc(80vh - 90px);
            background-color: $bg2;
            border-radius: $border-radius;
            overflow-y: auto;
            overflow-x: hidden;
            table{
                width: 100%;
            }
        }
    }
}

.BC-GlobalView{
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    section{
        width: 50%;
        min-width: 300px;
        max-width: 640px;
        display: flex;
        flex-direction: column;
        .Card{
            margin: auto 0;
            width: 95%;
            max-height: 60vh;
            overflow: hidden;
            .card-header, .card-content{
                width: calc(100% - 20px);
            }
            .header{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 10px;
                button{
                    margin: auto 0;
                    background-color: $bg1var;
                    &:last-child{
                        margin-left: 5px;
                    }
                }
                .PageNavigator{
                    margin: auto 0;
                }
                .searcher{
                    max-width: 300px;
                    min-width: 175px;
                    height: 45px;
                    background-color: $bg1var;
                    .searcher-icon{
                        height: 35px;
                    }
                    .searcher-input{
                        background-color: $bg1var;
                    }
                }
            }
            .BCtable{
                height: calc(60vh - 300px);
                background-color: $bg2;
                overflow-y: scroll;
                padding: 10px 0;
                border-radius: $border-radius;
                .table-item{
                    img{
                        width: 40px;
                        height: 40px;
                        margin-right: 10px;
                    }
                    display: flex;
                    padding: 5px 10px;
                    border-bottom: 1px $boom solid;
                    flex-direction: row;
                    transition: all 400ms;
                    cursor: pointer;
                    &:last-child{
                        border-bottom: none;
                    }
                    &:hover{
                        background-color: $bg2var;
                        border-radius: $border-radius  $border-radius 0 0 ;
                        h5{
                            font-weight: 700;
                        }
                    }

                }
            }
        }
    }
}

.Factures{
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: row;
    .FactureCenter{
        margin: 40px auto 0 auto;
        width: 80%;
        max-height: 80%;
        overflow-y: hidden;
        border-radius: $border-radius;
        .table-header{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .btn{
                font-size: 28px;
                margin: auto 0;
            }
            .exporter{
                margin: auto 0;
                display: flex;
                flex-direction: row;
                background-color: $bg1var;
                height: 50px;
                border-radius: $border-radius;
                padding: 5px;
                input{
                    height: 40px;
                    margin: auto 6px;
                }
                a, label, .exporter-part{
                    margin: auto 0;
                }
                img{
                    width: 40px;
                    height: 40px;
                }
            }

        }
        .table-container{
            .link{
                font-weight: 700;
                cursor: pointer;
            }
            width: 100%;
            background-color: $bg1;
            border-radius: $border-radius;
            table{
                width: 100%;
                button{
                    margin: 0 auto;
                    background-color: $bg2;
                }
            }
        }
    }
}

.StockManager{
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: row;
    .StockManagerCenter{
        margin: 40px auto 0 auto;
        width: 80%;
        max-height: 80%;
        overflow-y: hidden;
        border-radius: $border-radius;
        .table-header {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .btn {
                font-size: 28px;
                margin: auto 0;
            }
        }
        .table-container{
            .link{
                font-weight: 700;
                cursor: pointer;
            }
            width: 100%;
            background-color: $bg1;
            border-radius: $border-radius;
            table{
                width: 100%;
                button{
                    margin: 0 auto;
                    background-color: $bg2;
                }
            }
        }
    }
}

.StockSettings{
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .retour{
        position: fixed;
        font-size: 25px;
        top: 80px;
        right: 15px;
    }
    .table-header{
        .searcher, input{
            background-color: $bg1var;
        }
    }
    .table-content{
        width: 100%;
        background-color: $bg2;
        border-radius: $border-radius;
        max-height: 400px;
        overflow-y: auto;
        table{
            width: 100%;
            td{
                padding: 10px;
                border-left: none;
                border-right: none;
                img{
                    cursor: pointer;
                    transition: all 400ms;
                    &:hover{
                        transform: rotate(380deg);
                    }
                }
            }
            tr{
                cursor: default;
                transition: all 400ms;
                border-radius: $border-radius $border-radius 0 0 ;
                &:hover{
                    background-color: $bg2var;
                }
            }
        }
    }
    .table-footer{
        width: 100%;
        .form-line{
            width: 100%;
            justify-content: space-between;
        }
        .btn{
            margin: auto 0;
        }
    }
}

.TablePage{
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: row;
    .PageCenter{
        margin: 40px auto 0 auto;
        width: 85%;
        max-height: 80%;
        overflow-y: hidden;
        border-radius: $border-radius;
        .table-header {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .btn {
                font-size: 28px;
                margin: auto 0;
            }
            .selector{
                margin: auto 0;
                display: flex;
                flex-direction: row;
                input{
                    border-radius: $border-radius 0 0 $border-radius;
                    background-color: $bg1;
                    -moz-appearance: textfield;
                    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
                        -webkit-appearance: none;
                    }
                }
                button{
                    margin: auto 0;
                    border-radius: 0 $border-radius $border-radius 0;
                    background-color: $bg2;
                    border: none;
                    cursor: pointer;
                    img{
                        transition: all 400ms;
                        width: 40px;
                        height: 40px;
                        &:hover{
                            transform: scale(0.9) rotate(90deg);
                        }
                    }
                }
            }
        }
        .table-container{
            .link{
                font-weight: 700;
                cursor: pointer;
            }
            width: 100%;
            background-color: $bg1;
            border-radius: $border-radius;
            table{
                width: 100%;
                button{
                    margin: 0 auto;
                    background-color: $bg2;
                }
            }
        }
    }
}

.MyAccount{
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    .center{
        width: 85%;
        min-width: 300px;
        margin: auto;
        //background-color: red;
        height: 80%;
        .pageSelector{
            display: flex;
            flex-direction: row;
            height: 40px;
            button{
                padding: 0 10px;
                border: none;
                margin: 0 2px;
                font-size: 100%;
                font-weight: 600;
                border-radius: 10px 10px 0 0;
                cursor: pointer;
                transition: all 400ms;
                background-color: $bg2;
                color: $heavytext;
                &:hover{
                    background-color: $bg1var;
                    color: $lighttext;
                }
                &:first-child{
                    margin: 0 2px 0 0;
                }


            }
            .selected{
                background-color: $bg1;
                cursor: default;
                color: $heavytext;
                &:hover{
                    background-color: $bg1 !important;
                    color: $heavytext !important;
                }
            }
        }

        .PageDisplayed{
            background-color: $bg1;
            width: 100%;
            height: calc(100% - 40px);
            border-radius: 0 10px 10px 10px;
        }
        .Infos{
            display: flex;
            flex-direction: row;
            .modifier{
                width: 40%;
                margin: auto 0;
                padding: 10px 15px;
                height: 90%;
                overflow-y: scroll;
                border-right:  1px $boom solid;
            }
            .other{
                width: 59%;
                padding: 10px 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                .sanctions{
                    h1{
                        text-align: center;
                    }
                    ul{
                        height: 200px;
                        border-radius: $border-radius;
                        width: 80%;
                        margin: 0 auto;
                        background-color: $bg2;
                        overflow-y: scroll;
                        padding: 0 10px;
                        .sanctionTag{
                            margin: 5px 0;
                            color: $lighttext;
                            list-style: none;
                            font-size: 17px;
                            font-family: Nunito;

                        }
                    }
                }
                .materiel{
                    h1{
                        text-align: center;
                    }
                    ul{
                        height: 200px;
                        border-radius: $border-radius;
                        width: 80%;
                        margin: 0 auto;
                        background-color: $bg2;
                        overflow-y: scroll;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        flex-wrap: wrap;
                        padding: 10px;
                        .materialTag{
                            display: flex;
                            flex-direction: row;
                            list-style: none;
                            background-color: $bg1var;
                            width: min-content;
                            height: 40px;
                            padding: 5px 7px;
                            border-radius: $border-radius;
                            margin: 5px;
                            p{
                                margin: auto 0;
                                color: $lighttext;
                            }
                            img{
                                width: 40px;
                                height: 40px;
                            }
                        }
                    }
                }
            }
        }
        .MyService{
            display: flex;
            flex-direction: row;
            .request{
                width: 55%;
                border-right: 1px $boom solid;
                .form{
                    padding-top: 10px;
                    width: 100%;
                    height: 280px;
                    label{
                        margin: auto 0;
                    }
                    .form-inline{
                        padding: 0 20px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: calc(100% - 40px);
                    }
                }
                .list{
                    border-radius: $border-radius;
                    margin: auto auto;
                    width: 90%;
                    height: calc(100% - 320px);
                    background-color: $bg2;
                    overflow-y: auto;
                    table{
                        width: 100%;
                        th{
                            background-color: $bg2var;
                        }
                    }
                }
            }
            .review{
                display: flex;
                width: 45%;
                .graphic{
                    margin: auto;
                }
            }
        }
        .MyPrimes, .MyRemboursements, .MyAbs{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            section{
                padding: 10px;
            }
            .Form{
                padding-right: 30px;
                display: flex;
                flex-direction: column;
                width: 30%;
                border-right: 1px $boom solid;
                .form-part{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    label{
                        margin: auto 0;
                    }

                }
            }
            .table{
                width: 62%;
                margin: 0 auto;
                display: flex;
                .table-scroller{
                    border-radius: $border-radius;
                    margin: auto auto;
                    width: 100%;
                    background-color: $bg2;
                    overflow-y: auto;
                    padding: 0px;
                    height: 90%;
                    table{
                        width: 100%;
                        th{
                            background-color: $bg2var;
                        }
                    }
                }
            }
        }
    }
}

.demandes{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    .header{
        width: 100%;
        margin-top: 1px;
        display: flex;
        padding: 10px;
        justify-content: space-evenly;
        position: fixed;
        flex-direction: row;
        height: 40px;
        z-index: 10;
        background-color: $bgmain;
    }
    .page-container{
        padding-top: 50px;
        overflow-y: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 121px);
        overflow-y: auto;
        .request-container{
            margin: 10px auto;
            h1{
                text-align: center;
            }
            .table-container{
                background-color: $bg1;
                border-radius: $border-radius;
                th{
                    position: unset;
                }
            }
            th,td{
                font-size: 18px;
            }
            .btn-container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }
}

.FichePersonnel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
    height: calc(100vh - 70px);
    .left-part{
        margin-top: 0;
        height: calc(100vh - 70px);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 30%;
        .btn-container{
            width: 100%;
            height: 60px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            .btn{
                margin: auto 0;
            } img {
                width: 20px;
            }
        }

        .PersoCard{
            background-color: $bg1;
            border-radius: $border-radius;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

        }
        .material{
            background-color: $bg1;
            border-radius: $border-radius;
            display: flex;
            width: 100%;
            height: 250px;
            .material-list{
                margin: auto auto;
                height: 85%;
                overflow-y: auto;
                width: 90%;
                background-color: $bg2;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                padding: 10px;
                border-radius: $border-radius;
                .material-item{
                    padding: 10px 15px;
                    margin: 10px;
                    background-color: $bg1;
                    display: flex;
                    flex-direction: row;
                    height: min-content;
                    border-radius: $border-radius;
                    img{
                        width: 40px;
                        height: 40px;
                    }
                    p{
                        margin: auto 10px auto 0;
                    }
                }

            }
        }
    }
    .center-part{
        .sanctions-list{
            height: calc(100vh - 200px);
            display: flex;
            background-color: $bg2;
            flex-direction: column;
            border-radius: $border-radius;
            overflow-y: auto;
            padding: 2px 5px;
            .sanctions-item{
                border-bottom: 1px $boom solid;
                padding-bottom: 5px;
                margin-bottom: 5px;
                label{
                    font-size: 18px;
                    font-weight: 700;
                }
                p{
                    font-size: 18px;
                    margin: 0px;
                }
                &:last-child{
                    border-bottom: none;
                }
            }
        }
    }
    .right-part {
        .notes-list{
            height: calc(100vh - 350px);
            display: flex;
            background-color: $bg2;
            flex-direction: column;
            border-radius: $border-radius;
            overflow-y: auto;
            padding: 2px 5px;
            .note-item{
                border-bottom: 1px $boom solid;
                padding-bottom: 5px;
                margin-bottom: 5px;
                label{
                    font-size: 18px;
                    font-weight: 700;
                }
                p{
                    font-size: 18px;
                    margin: 0px;
                }
                &:last-child{
                    border-bottom: none;
                }
            }
        }
        .notes-form{
            display: flex;
            flex-direction: column;
            .form-inline{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                p, button{
                    margin: auto 0;
                }
            }
        }
    }

}

.GradeList{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .grades-selector{
        width: 20%;
        min-width: 200px;
        height: 100%;
        display: flex;
        .grade-list{
            margin: auto auto;
            background-color: $bg1;
            border-radius: $border-radius;
            height: 60%;
            overflow-y: auto;
            width: 90%;
            table{
                width: 100%;
                .grade{
                    width: 90%;
                }
                .power{
                    width: 10%;
                }
            }

        }
    }
    .bigpart{
        width: 80%;
        min-width: 900px;
        height: 100%;
        display: flex;
        .bigbordel{
            margin: auto auto;
            background-color: $bg1;
            border-radius: $border-radius;
            height: 80%;
            overflow: auto;
            width: 90%;
            display: flex;
            flex-direction: column;
        }
        .header{
            position: sticky;
            top: 0;
            left: 0;
            z-index: 14;
            border-bottom: 1px $lighttext solid;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            height: 80px;
            background-color: $bg2;
            input, .btn{
                background-color: $bg1;
                margin: 10px 0;
            }
            .btn{
                margin: auto 0;
            }
        }
        .perm-editor{
            margin-top: 70px;
            display: flex;
            flex-direction: column;
            .perm-line{
                display: flex;
                flex-direction: column;
                margin: 40px 0;
                border-top: 1px $boom solid;
                h4{
                    text-align: center;
                    margin-bottom: 10px;
                }
                &:first-child{
                    border-top: none;
                    margin-top: 0px;
                }
            }
        }
    }
}
