@import 'variables';


//Notifications
.notification-wrapper {
    position: fixed;
    height: calc(100vh - 80px);
    top: 80px;
    right: 10px;
    width: 350px;
    pointer-events: none;
    z-index: 15;
    .notification-item{
        padding: 5px 10px;
        min-height: 65px;
        pointer-events: all;
        box-shadow: 0 0 10px rgba(0,0,0, 0.3), 1px 3px 4px rgba(0,0,0,.2);
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;
        animation: SlideLeft 0.4s;
        animation-fill-mode: forwards;
        width: 90%;
        cursor: pointer;
        p{
            color: #fff;
            max-width: calc(100% - 15px);
            font-family: "Baloo 2", monospace;
            font-weight: 600;
            font-size: 22px;
            line-height: 100%;
            word-wrap: break-word;
            margin-top: 10px;
        }
    }
    .danger {
        background-color: $red;
        border-left: 8px solid #bd1120;
    }
    .warning {
        background-color: $orange;
        border-left: 8px solid #b06319;
    }
    .info{
        background-color: $purple;
        border-left: 8px solid #5b20b3;
    }
    .success {
        background-color: $green;
        border-left: 8px solid #118c45;
    }
    .exit {
        animation: SlideRight 0.4s;
        animation-fill-mode: forwards;
    }
    .undefined{
        display: none;
    }
}
//Progress bar
.bar{
    background-color: $bgmain;
    width: 100%;
    margin-top: 10px;
    border-radius: 20px;
    .bar--filler{
        height: 10px !important;
        background-color: $bg2;
        border-radius: 20px;
    }
}
//Uploader
.uploader--container{
    width: 240px;
    height: 135px;
    border-radius: $border-radius;
    background-color: $bg2;
    position: absolute;
    overflow:hidden;
    .img{
        position: relative;
        width: 100%;
        height: 100%;
        filter: blur(2px);
    }
    .Uploader{
        width: 100%;
        height: 100%;
    }

    label{
        width: 100%;
        top: 10%;
        position: absolute;
        display: block;
        text-align: center;

    }
    .upload-btn{
        position: absolute;
        top: 40%;
        left: calc(50% - 92px);
        background-color: $bgmain;
        border-radius: $border-radius;
        border: none;
        color: $heavytext;
        font-family: "Baloo 2";
        padding: 10px;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        transition: 400ms cubic-bezier(0.28,-0.46, 0.33, 1.5);
        &:hover{
            -webkit-transform: scale(1.2);
        }
        &:disabled{
            opacity: 0.7;
            transition: none;
            cursor: default;
            animation: none;
            &:hover{
                transform: none;
            }
        }
    }
    .bar{
        position: absolute;
        left: 10%;
        top: 80%;
        width: 80%;
        .bar--filler{
            background-color: $bg2;
        }
    }
    .hasFile{
        display: none;
    }
    .delete{
        position: absolute;
        background: transparent;
        border: none;
        top: 25%;
        left: 35%;
        cursor: pointer;
        transition: 400ms cubic-bezier(0.28,-0.46, 0.33, 1.5);
        &:hover{
            -webkit-transform: scale(1.2);
        }
        &:disabled{
            opacity: 0.7;
            transition: none;
            cursor: default;
            animation: none;
            &:hover{
                transform: none;
            }
        }
    }
    .anyFile{
        display: none;
    }


}

//App Wrapper
html{
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}
body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.AppContainer{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#app{
    height: 100vh;
    width: 100vw;
    background-color: $bgmain;
}

//Login & Register Component
.Auth{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url('/assets/bg/BG_1.jpg');
    .Authentifier{
        margin: auto;
        width: 95%;
        max-width: 400px;
        background-color: $bg1;
        display: flex;
        flex-direction: column;
        border-radius: $border-radius;
        .auth-header{
            padding: 20px;
            img{
                width: calc(100% - 20px);
            }
        }
        .auth-content{
            border-top: 1px $boom solid;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h1, a{
                margin: 10px auto 20px auto;
            }
        }
        .auth-footer{
            border-top: 1px $boom solid;
            width: 100%;
            display: flex;
            a{
                margin: 20px auto;
            }
        }

    }
}

//Layout & Headers
.layout{
    height: 100vh;
    width: 100vw;
    .layout-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $bg1;
        .header-menu{
            width: 300px;
            background-color: $bg2;
            display: flex;
            flex-direction: row;
            justify-content: left;
            padding-left:20px;
            cursor: pointer;
            img{
                width: auto;
                height: 30px;
                margin: auto 20px auto 0;
            }
            h1{
                margin: auto 0;
            }
        }
        .header-logout{
            width: 60px;
            background-color: $bg2;
            cursor: pointer;
            display: flex;
            img{
                width: auto;
                height: 90%;
                margin: auto;
            }
        }
    }
    .menu{
        position : fixed;
        top: 60px;
        left: 0px;
        background-color: $bg1;
        height:100vh;
        width: 320px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        .menu-header{
            padding-left: 10px;
            height:150px;
            display: flex;
            flex-direction: column;
            margin: 10px 0;
            .menu-link-big{
                font-weight: 'Baloo 2';
                cursor: pointer;
                font-size: 25px;
                color: $heavytext;
            }
        }
        .menu-scrollable{
            margin: 10px 0;
            border-top: 1px solid $boom;
            border-bottom: 1px solid $boom;
            padding-left: 10px;
            height: calc(100% - 350px);
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            .menu-item{
                margin-bottom: 10px;
                h2{
                    position: relative;
                    overflow: hidden;
                    padding-right: 10px;
                    margin-bottom: 5px;
                    span{
                        font-size: 27px;
                        margin-left: 5px;
                        padding: 0 5px 0 12px;
                        z-index: 12;
                        border-left: 7px $bg1var solid;
                        border-left-color: $bg1var;
                        width: fit-content;
                        position: relative;
                        top: 2px;
                        &:after{
                            position: absolute;
                            width: 300px;
                            height: 2px;
                            top: 50%;
                            left: calc(100% + 5px);
                            content: " ";
                            background-color: $bg1var;
                            z-index: 0;
                        }

                    }

                    &:before{
                        position: absolute;
                        width: 10px;
                        height: 2px;
                        top: 51%;
                        left: 11px;
                        background-color: $bg1var;
                        content: " ";
                        z-index: 0;
                    }
                }
                ul{
                    margin: 0;
                    .menu-puce{
                        list-style: none;
                    }
                }
                .menu-link{
                    font-weight: Nunito;
                    cursor: pointer;
                    font-size: 22px;
                    color: $lighttext;
                }
            }

        }
        .menu-footer{
            margin: 10px 0;
            padding-left: 10px;
            height: 80px;
            display: flex;
            flex-direction: column;
            h3{
                color: $lighttext;
                opacity: 20%;
                font-size: 25px;

            }

        }
    }
}

.app-page-container{
    margin-top: 60px;
}

.rapports{
    width: 100vw;
    height: 100vh;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    padding-top: 20px;
    .collumn{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    &:last-child{
        margin-bottom: 200px;
    }
    .card{
        margin: min(10px, 20px);
        overflow: hidden;
        textarea{
            width: 100%;
        }
    }
}
