@import 'variables';

body{
    background-color: $bgmain;
}

.header{
    height: 60px;
    background-color: $bg1;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    .menu-item{
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 50%;
        min-width: 500px;
        a{
            margin: auto 0;
            color: $lighttext;
            cursor: pointer;
        }
    }
}
.content{
    margin: 60px auto 0 auto;
    width: 90%;
    height: calc(100vh - 90px);
    padding: 10px;
}
.dashboard{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .users{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 400px;
        .userOnline{
            width: 100%;
            background-color: $bg1;
            border-radius: $border-radius;
            height: 40px;
            display: flex;
            label{
                margin-left: 10px;
                font-family: "Baloo Thambi 2", monospace;
                font-weight: 700;
                margin: auto 0;
                font-size: 25px;
            }
        }
        .userService{
            width: 100%;
            background-color: $bg1;
            border-radius: $border-radius;
            display: flex;
            flex-direction: column;
            height: 340px;
            .title{
                width: 100%;
                margin-left: 5px;

            }
            .list{
                border-radius: $border-radius;
                margin: auto auto;
                width: 90%;
                height: 250px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                flex-wrap: wrap;
                background-color: $bg2;
                overflow-y: auto;
                padding: 5px;
                .tag{
                    background-color: $bg1;
                    margin: 2px;
                    font-size: 20px;
                    padding: 3px 8px;
                    color: $lighttext;
                    word-wrap: unset;
                    height: min-content;
                    border-radius: $border-radius;


                }
            }
        }
    }
    .logs{
        display: flex;
        height: 100%;
        width: 600px;
        .logs-list{
            margin: auto;
            width: 100%;
            background-color: $bg1;
            max-height: 90%;
            min-height: 30%;
            border-radius: $border-radius;
            overflow-y: auto;
            table{
                width: 100%;
            }
            a, img{
                margin: auto;
            }
        }
    }
}

.logsFileView{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .codeView{
        padding: 5px;
        border-radius: $border-radius;
        background-color: $bg1;
        width: 90%;
        height: 90%;
        overflow: auto;

        pre{
            font-size: 13px;
            font-family: monospace;
            color: $lighttext;
            line-height: 18px;
        }
    }
}

.users{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .userList{
        margin: auto;
        border-radius: $border-radius;
        background-color: $bg1;
        width: 99%;
        height: 98%;
        overflow: auto;
    }
}
