@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;800&family=Nunito:wght@200;300&display=swap");
.hidden {
  display: none;
  visibility: hidden;
}

.fixed-top-right {
  position: fixed;
  top: 70px;
  right: 10px;
  background-color: #1B2037;
  padding: 15px;
  border-radius: 10px;
}
.fixed-top-right button {
  font-size: 20px;
  color: #E9E9E9;
}

h1 {
  font-family: "Baloo 2";
}

.clickable {
  font-weight: 600;
  cursor: pointer;
}

h1 {
  font-family: "Baloo 2";
  font-weight: 800;
  font-size: 35px;
  color: #FFF;
}

h2 {
  font-family: "Baloo 2";
  font-weight: 700;
  font-size: 30px;
  color: #FFF;
}

h3 {
  font-family: "Baloo 2";
  font-weight: 600;
  font-size: 28px;
  color: #FFF;
}

h4 {
  font-family: "Baloo 2";
  font-weight: 500;
  font-size: 26px;
  color: #FFF;
}

h5 {
  font-family: "Baloo 2";
  font-weight: 400;
  font-size: 24px;
  color: #FFF;
}

h6 {
  font-family: "Baloo 2";
  font-weight: 300;
  font-size: 20px;
  color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0;
}

p {
  font-family: "Baloo 2";
  font-weight: 300;
  font-size: 20px;
  color: #FFF;
}

input, select, textarea {
  color: #FFF;
  background-color: #3D487B;
  margin: 10px 0;
  font-size: 15px;
  font-family: "Baloo 2";
  font-weight: 500;
  box-shadow: none;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
input::placeholder, select::placeholder, textarea::placeholder {
  color: #E9E9E9;
}
input:-webkit-autofill, select:-webkit-autofill, textarea:-webkit-autofill {
  background-color: #3D487B !important;
  color: #E9E9E9 !important;
}

a, p, label {
  color: #FFF;
  font-family: "Baloo 2";
  font-weight: normal;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.btn {
  height: fit-content;
  width: fit-content;
  padding: 5px 10px;
  background-color: #3D487B;
  border-radius: 10px;
  border: none;
  color: #E9E9E9;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: 400ms cubic-bezier(0.28, -0.46, 0.33, 1.5);
}
.btn img {
  width: 40px;
  height: auto;
  margin: auto 10px;
}
.btn:hover {
  -webkit-transform: scale(1.2);
}
.btn:disabled {
  opacity: 0.7;
  color: #303030 !important;
  transition: none;
  cursor: default;
  animation: none;
}
.btn:disabled:hover {
  transform: none;
}

.--big {
  color: #FFF;
  font-family: "Baloo 2";
  font-weight: 600;
  font-size: 25px;
}

.--medium {
  color: #E9E9E9;
  font-family: "Nunito";
  font-weight: 500;
  font-size: 18px;
}

.form-column {
  display: flex;
  flex-direction: column;
}

.form-input {
  height: 50px;
}

.form-error p {
  color: #FF0000;
  margin: 0;
}

.form-healper {
  font-weight: 400 !important;
  font-style: italic !important;
  font-family: Nunito !important;
  font-size: 15px !important;
  opacity: 25% !important;
  color: #E9E9E9;
}

.form-item label {
  font-size: 23px;
  font-weight: 510;
}

.form-line {
  display: flex;
  flex-direction: row;
}

.form-error {
  border: #FF0000 1px solid !important;
}

.errors-list {
  font-family: "Baloo 2";
  font-weight: 500;
  color: #ED3444;
}
.errors-list li {
  font-size: 20px;
  font-weight: 400;
  color: red;
}
.errors-list ul {
  margin: 0;
}

.Card {
  background-color: #1B2037;
  height: min-content;
  width: 400px;
  margin: 20px;
  border-radius: 10px;
}
.Card .card-header {
  border-bottom: 1px #ED3444 solid;
  padding: 10px;
}
.Card .card-header h3 {
  text-align: center;
}
.Card .card-content {
  margin-top: 5px;
  padding: 10px;
}

.checker {
  display: block;
  font-size: 20vmin;
  height: 1em;
  width: 2.5em;
  box-sizing: content-box;
  padding: 0.15em;
  border-radius: 0.25em;
  transition: transform var(--duration) ease;
  cursor: pointer;
}

.checkmark {
  width: 1em;
  height: 1em;
  transition: transform var(--duration) ease;
  transform: translateX(-0.4em);
  z-index: 5;
}
.checkmark svg {
  display: block;
  background: #e5e5e5;
  transform: translateX(0.4em);
  border-radius: 0.15em;
  transition: background-color var(--duration) ease, transform calc(var(--duration) * 1.5) ease;
}
.checkmark svg path {
  stroke-dasharray: 90 90;
  stroke-dashoffset: 90;
  transition: stroke-dashoffset calc(var(--duration) / 3) linear calc(var(--duration) / 3);
}

.onoffswitch {
  position: relative;
  width: 120px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch .onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch .onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
}
.onoffswitch .onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: 400ms cubic-bezier(0.28, -0.46, 0.33, 1.5);
}
.onoffswitch .onoffswitch-inner:before, .onoffswitch .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 40px;
  padding: 0;
  line-height: 35px;
  font-size: 20px;
  color: #FFF;
  font-family: "Baloo 2", monospace;
  font-weight: bold;
  box-sizing: border-box;
  border: 2px solid transparent;
}
.onoffswitch .onoffswitch-inner:before {
  content: "OUI";
  padding-left: 20px;
  background-color: #2DF037;
  color: #1B2037;
}
.onoffswitch .onoffswitch-inner:after {
  content: "NON";
  padding-right: 20px;
  background-color: #DB1B1B;
  color: #1B2037;
  text-align: right;
}
.onoffswitch .onoffswitch-switch {
  display: block;
  width: 50px;
  margin: 0;
  height: 50px;
  background: #3D487B;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  bottom: 0;
  right: 80px;
  transition: 300ms cubic-bezier(0.28, -0.46, 0.33, 1.5);
}
.onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: -5px;
}

.searcher {
  margin: 20px 0;
  background-color: #1B2037;
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 400px;
  border-radius: 10px;
}
.searcher .searcher-input {
  border-radius: 0 10px 10px 0;
  margin: 0;
  width: 100%;
  background-color: #1B2037;
}
.searcher .searcher-icon {
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 10px 0 0 10px;
  background-color: #435089;
}

.PageNavigator button {
  background-color: #1B2037;
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: 0 7px;
  transition: all 300ms;
  cursor: pointer;
}
.PageNavigator button img {
  width: 40px;
  height: 40px;
}
.PageNavigator button:hover {
  background-color: #435089;
}
.PageNavigator button:disabled {
  opacity: 60%;
  cursor: not-allowed;
}
.PageNavigator button:disabled:hover {
  background-color: #1B2037;
}

@keyframes SlideLeft {
  0% {
    margin-left: 120%;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes SlideRight {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 120%;
  }
}
.table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.table-header .PageNavigator {
  margin: auto 0;
}

table {
  border-collapse: collapse;
}
table th {
  position: sticky;
  top: 0;
  background-color: #3D487B;
  z-index: 10;
}
table th:last-child {
  border-radius: 0 10px 0 0;
}
table th:first-child {
  border-radius: 10px 0 0 0;
}
table tr {
  border: #ED3444 1px solid;
  height: 10px;
  border-left: none;
  border-right: none;
}
table tr:last-child {
  border-bottom: none !important;
}
table tr:first-child {
  border-top: none !important;
}
table td, table th {
  padding: 5px 20px;
  text-align: center;
  border: #ED3444 1px solid;
  border-top: none;
  border-bottom: none;
}
table td img, table th img {
  width: 25px;
  height: auto;
}
table td:first-child, table th:first-child {
  border-left: none;
}
table td:last-child, table th:last-child {
  border-right: none;
}
table td .btn, table th .btn {
  background-color: #1B2037;
}
table td .btn img, table th .btn img {
  width: 25px;
  height: auto;
}
table th {
  font-family: "Baloo 2";
  font-size: 25px;
  color: #FFF;
}
table td {
  color: #E9E9E9;
  font-family: "Nunito";
  font-size: 22px;
}

.exporter {
  background-color: #1B2037;
}

.popupBg {
  filter: blur(5px);
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
}
.popup .Card {
  max-width: 450px;
  margin: auto auto !important;
}
.popup .Card .form-line {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.popup .Card .form-inline {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.popup .Card .form-inline input, .popup .Card .form-inline button {
  margin: auto 0;
}

/* width */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 10px;
}

* {
  scrollbar-color: #303030;
  scrollbar-width: thin;
}

.notification-wrapper {
  position: fixed;
  height: calc(100vh - 80px);
  top: 80px;
  right: 10px;
  width: 350px;
  pointer-events: none;
  z-index: 15;
}
.notification-wrapper .notification-item {
  padding: 5px 10px;
  min-height: 65px;
  pointer-events: all;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 1px 3px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  animation: SlideLeft 0.4s;
  animation-fill-mode: forwards;
  width: 90%;
  cursor: pointer;
}
.notification-wrapper .notification-item p {
  color: #fff;
  max-width: calc(100% - 15px);
  font-family: "Baloo 2", monospace;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  word-wrap: break-word;
  margin-top: 10px;
}
.notification-wrapper .danger {
  background-color: #e3342f;
  border-left: 8px solid #bd1120;
}
.notification-wrapper .warning {
  background-color: #f6993f;
  border-left: 8px solid #b06319;
}
.notification-wrapper .info {
  background-color: #9561e2;
  border-left: 8px solid #5b20b3;
}
.notification-wrapper .success {
  background-color: #38c172;
  border-left: 8px solid #118c45;
}
.notification-wrapper .exit {
  animation: SlideRight 0.4s;
  animation-fill-mode: forwards;
}
.notification-wrapper .undefined {
  display: none;
}

.bar {
  background-color: #302E38;
  width: 100%;
  margin-top: 10px;
  border-radius: 20px;
}
.bar .bar--filler {
  height: 10px !important;
  background-color: #3D487B;
  border-radius: 20px;
}

.uploader--container {
  width: 240px;
  height: 135px;
  border-radius: 10px;
  background-color: #3D487B;
  position: absolute;
  overflow: hidden;
}
.uploader--container .img {
  position: relative;
  width: 100%;
  height: 100%;
  filter: blur(2px);
}
.uploader--container .Uploader {
  width: 100%;
  height: 100%;
}
.uploader--container label {
  width: 100%;
  top: 10%;
  position: absolute;
  display: block;
  text-align: center;
}
.uploader--container .upload-btn {
  position: absolute;
  top: 40%;
  left: calc(50% - 92px);
  background-color: #302E38;
  border-radius: 10px;
  border: none;
  color: #FFF;
  font-family: "Baloo 2";
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: 400ms cubic-bezier(0.28, -0.46, 0.33, 1.5);
}
.uploader--container .upload-btn:hover {
  -webkit-transform: scale(1.2);
}
.uploader--container .upload-btn:disabled {
  opacity: 0.7;
  transition: none;
  cursor: default;
  animation: none;
}
.uploader--container .upload-btn:disabled:hover {
  transform: none;
}
.uploader--container .bar {
  position: absolute;
  left: 10%;
  top: 80%;
  width: 80%;
}
.uploader--container .bar .bar--filler {
  background-color: #3D487B;
}
.uploader--container .hasFile {
  display: none;
}
.uploader--container .delete {
  position: absolute;
  background: transparent;
  border: none;
  top: 25%;
  left: 35%;
  cursor: pointer;
  transition: 400ms cubic-bezier(0.28, -0.46, 0.33, 1.5);
}
.uploader--container .delete:hover {
  -webkit-transform: scale(1.2);
}
.uploader--container .delete:disabled {
  opacity: 0.7;
  transition: none;
  cursor: default;
  animation: none;
}
.uploader--container .delete:disabled:hover {
  transform: none;
}
.uploader--container .anyFile {
  display: none;
}

html {
  position: fixed;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.AppContainer {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#app {
  height: 100vh;
  width: 100vw;
  background-color: #302E38;
}

.Auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-y: auto;
  background-image: url("assets/bg/BG_1.jpg");
}
.Auth .Authentifier {
  margin: auto;
  width: 95%;
  max-width: 400px;
  background-color: #1B2037;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.Auth .Authentifier .auth-header {
  padding: 20px;
}
.Auth .Authentifier .auth-header img {
  width: calc(100% - 20px);
}
.Auth .Authentifier .auth-content {
  border-top: 1px #ED3444 solid;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Auth .Authentifier .auth-content h1, .Auth .Authentifier .auth-content a {
  margin: 10px auto 20px auto;
}
.Auth .Authentifier .auth-content h1, .Auth .Authentifier .auth-content h3, .Auth .Authentifier .auth-content h4 {
  text-align: center;
}
.Auth .Authentifier .auth-content .form-part {
  width: calc(100% - 20px);
  padding: 0 10px;
}
.Auth .Authentifier .auth-content .form-part input[type=number] {
  -moz-appearance: textfield;
}
.Auth .Authentifier .auth-content .form-part input[type=number]::-webkit-outer-spin-button, .Auth .Authentifier .auth-content .form-part input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.Auth .Authentifier .auth-content .form-line {
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Auth .Authentifier .auth-content .form-line label {
  margin: auto 0;
}
.Auth .Authentifier .auth-content .form-line select {
  margin-left: 20px;
  width: 100%;
}
.Auth .Authentifier .auth-footer {
  border-top: 1px #ED3444 solid;
  width: 100%;
  display: flex;
}
.Auth .Authentifier .auth-footer a, .Auth .Authentifier .auth-footer button {
  margin: 20px auto 10px auto;
}

.ServiceNav {
  background-image: url("assets/bg/BG_2.jpg");
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
}
.ServiceNav .ServiceSelector {
  margin: auto auto;
}
.ServiceNav .ServiceSelector img {
  width: 100px;
}
.ServiceNav .ServiceSelector ul {
  background-color: rgba(220, 220, 220, 0.2);
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
}
.ServiceNav .ServiceSelector ul li {
  margin: 1%;
  border-radius: 10px;
  transition: all 500ms;
  display: flex;
  background-color: #1B2037;
  list-style: none;
  height: 175px;
  width: 175px;
  cursor: pointer;
}
.ServiceNav .ServiceSelector ul li div {
  margin: auto auto;
}
.ServiceNav .ServiceSelector ul li div h2 {
  text-align: center;
}
.ServiceNav .ServiceSelector ul li:hover {
  background-color: #222844;
}

.layout {
  height: 100vh;
  width: 100vw;
}
.layout .layout-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 60px;
  position: fixed;
  z-index: 14;
  top: 0;
  left: 0;
  background-color: #1B2037;
  border-bottom: rgba(233, 233, 233, 0.4) 1px solid;
}
.layout .layout-header .header-menu {
  width: 300px;
  background-color: #3D487B;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 20px;
  cursor: pointer;
}
.layout .layout-header .header-menu img {
  width: auto;
  height: 30px;
  margin: auto 20px auto 0;
}
.layout .layout-header .header-menu h1 {
  margin: auto 0;
}
.layout .layout-header .header-menu .service-name {
  margin-right: 20px !important;
  margin-left: auto;
  height: 45px;
  width: auto;
}
.layout .layout-header .header-logout {
  width: 60px;
  background-color: #3D487B;
  cursor: pointer;
  display: flex;
}
.layout .layout-header .header-logout img {
  width: auto;
  height: 90%;
  margin: auto;
}
.layout .menu {
  position: fixed;
  top: 60px;
  left: 0px;
  background-color: #1B2037;
  z-index: 12;
  height: 100vh;
  border-right: rgba(233, 233, 233, 0.4) 1px solid;
  width: 320px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
.layout .menu .menu-header {
  padding-left: 10px;
  height: 190px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.layout .menu .menu-header .menu-link-big {
  font-weight: "Baloo 2";
  cursor: pointer;
  font-size: 25px;
  color: #FFF;
}
.layout .menu .menu-scrollable {
  margin: 10px 0;
  border-top: 1px solid #ED3444;
  border-bottom: 1px solid #ED3444;
  padding-left: 10px;
  height: calc(100% - 390px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.layout .menu .menu-scrollable .menu-item {
  margin-bottom: 10px;
}
.layout .menu .menu-scrollable .menu-item h2 {
  position: relative;
  overflow: hidden;
  padding-right: 10px;
  margin-bottom: 5px;
}
.layout .menu .menu-scrollable .menu-item h2 span {
  font-size: 27px;
  margin-left: 5px;
  padding: 0 5px 0 12px;
  z-index: 12;
  border-left: 7px #222844 solid;
  border-left-color: #222844;
  width: fit-content;
  position: relative;
  top: 2px;
}
.layout .menu .menu-scrollable .menu-item h2 span:after {
  position: absolute;
  width: 300px;
  height: 2px;
  top: 50%;
  left: calc(100% + 5px);
  content: " ";
  background-color: #222844;
  z-index: 0;
}
.layout .menu .menu-scrollable .menu-item h2:before {
  position: absolute;
  width: 10px;
  height: 2px;
  top: 51%;
  left: 11px;
  background-color: #222844;
  content: " ";
  z-index: 0;
}
.layout .menu .menu-scrollable .menu-item ul {
  margin: 0;
}
.layout .menu .menu-scrollable .menu-item ul .menu-puce {
  list-style: none;
}
.layout .menu .menu-scrollable .menu-item .menu-link {
  font-weight: Nunito;
  cursor: pointer;
  font-size: 22px;
  color: #E9E9E9;
}
.layout .menu .menu-footer {
  margin: 10px 0;
  padding-left: 10px;
  height: 80px;
  display: flex;
  flex-direction: column;
}
.layout .menu .menu-footer h3 {
  color: #E9E9E9;
  opacity: 20%;
  font-size: 25px;
}

.app-page-container {
  margin-top: 60px;
}

.rapports {
  width: 100vw;
  height: 100vh;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
  padding-top: 20px;
}
.rapports .cool {
  text-align: center;
  color: #00FF00;
}
.rapports .pascool {
  text-align: center;
  color: #FF0000;
}
.rapports .collumn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.rapports:last-child {
  margin-bottom: 200px;
}
.rapports .card {
  margin: min(10px, 20px);
  overflow: hidden;
}
.rapports .card textarea {
  width: 100%;
}
.rapports .form-line {
  justify-content: space-between;
}
.rapports .form-line .onoffswitch {
  margin-right: 50px;
}

.dossiers {
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  overflow-y: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.dossiers .table {
  display: flex;
  flex-direction: column;
}
.dossiers .table .table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dossiers .table .table-header .PageNavigator {
  margin: auto 10px;
}
.dossiers .table .table-content {
  background-color: #1B2037;
  border-radius: 10px;
}
.dossiers .table .table-content table {
  width: 100%;
}
.dossiers .patient-form {
  margin: 20px 10px;
  display: flex;
}
.dossiers .patient-form .cool {
  text-align: center;
  color: #00FF00;
}
.dossiers .patient-form .pascool {
  text-align: center;
  color: #FF0000;
}
.dossiers .patient-form .Card {
  margin: auto 0;
}
.dossiers .patient-form .Card .btn {
  margin: 20px auto 0 auto;
}

@media (max-width: 900px) {
  .RapportReview {
    flex-wrap: wrap;
  }
}
@media all and (min-width: 900px) {
  .RapportReview {
    flex-wrap: nowrap;
  }
}
.RapportReview {
  transition: all 400ms;
  padding: 20px 10px;
  width: calc(100vw - 20px);
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow-y: auto;
}
.RapportReview .interList {
  height: 100vh;
  display: flex;
}
.RapportReview .interList .Card {
  margin: auto 0;
  height: 80vh;
}
.RapportReview .interList .Card .intervention-table {
  padding: 10px;
  background-color: #3D487B;
  border-radius: 10px;
  height: 70%;
  overflow-y: auto;
}
.RapportReview .interList .Card .inter-item {
  border-bottom: 1px #ED3444 solid;
  margin: 5px 0;
  padding: 5px 0;
  border-radius: 10px 10px 0 0;
  transition: all 400ms;
  cursor: pointer;
}
.RapportReview .interList .Card .inter-item h5 {
  font-weight: 300;
  color: #E9E9E9;
  transition: all 400ms;
}
.RapportReview .interList .Card .inter-item:last-child {
  border-bottom: none;
}
.RapportReview .interList .Card .inter-item:hover {
  background-color: #435089;
}
.RapportReview .interList .Card .inter-item:hover h5 {
  font-weight: 500;
  color: #FFF;
}
.RapportReview .interList .Card .navigation {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.RapportReview .interList .Card .navigation .btn {
  margin: auto 0;
}
.RapportReview .intervention {
  margin: auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.RapportReview .intervention .form-line {
  justify-content: space-between;
}
.RapportReview .intervention .form-line .onoffswitch {
  margin-right: 50px;
}

@media (max-width: 1350px) {
  .testPoudre {
    flex-wrap: wrap;
  }
}
@media all and (min-width: 1350px) {
  .testPoudre {
    flex-wrap: nowrap;
  }
  .testPoudre section {
    border-left: none;
  }
}
@media (max-width: 650px) {
  .test-component {
    flex-wrap: wrap;
  }
  .test-component section {
    width: 100%;
  }
}
@media all and (min-width: 650px) {
  .test-component {
    flex-wrap: nowrap;
  }
  .test-component section {
    width: 50%;
  }
  .test-component section:last-child {
    border-left: 1px solid #ED3444;
  }
}
.testPoudre {
  transition: all 400ms;
  padding: 20px 10px;
  width: calc(100vw - 20px);
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow-y: auto;
}
.testPoudre .makeTest {
  display: flex;
  margin: auto 0;
}
.testPoudre .makeTest .Card {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
}
.testPoudre .makeTest .test-component {
  display: flex;
  flex-direction: row;
}
.testPoudre .makeTest .test-component section {
  padding: 20px;
}
.testPoudre .makeTest .test-component .poudre {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testPoudre .makeTest .test-component .poudre .poudre-presence {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.testPoudre .makeTest .footer {
  border-top: 1px solid #ED3444;
  padding: 10px 0;
  display: flex;
}
.testPoudre .makeTest .footer .btn {
  margin: 0 auto;
}
.testPoudre .test-table {
  display: flex;
  flex-direction: column;
}
.testPoudre .test-table .table-content {
  background-color: #1B2037;
  border-radius: 10px;
}

.BC-View {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: calc(100vw - 20px);
  height: calc(100vh - 80px);
  overflow-y: auto;
}
.BC-View .form-title {
  padding: 0 20px;
  justify-content: space-between;
}
.BC-View .form-title label {
  font-size: 25px;
  font-weight: 700;
  font-family: "Baloo 2";
}
.BC-View .BC-Header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.BC-View .BC-Header .BC-Place, .BC-View .BC-Header .BC-Starter {
  display: flex;
  flex-direction: row;
  background-color: #1B2037;
  border-radius: 10px;
  padding: 10px 5px;
}
.BC-View .BC-Header .BC-Place h5, .BC-View .BC-Header .BC-Starter h5 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Baloo 2";
  margin: auto 0;
}
.BC-View .BC-Header .BC-Place img, .BC-View .BC-Header .BC-Starter img {
  margin: auto 0 auto 10px;
  width: 35px;
  height: 35px;
}
.BC-View .BC-Header .BC-Commands {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.BC-View .BC-Header .BC-Commands button {
  background-color: #1B2037;
  font-size: 25px;
  margin: auto 10px;
}
.BC-View .BC-Content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
}
.BC-View .BC-Content .BC-infos {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  min-width: 300px;
  max-width: 500px;
  justify-content: space-evenly;
}
.BC-View .BC-Content .BC-infos .form-title button {
  background-color: #1B2037;
}
.BC-View .BC-Content .BC-infos .BC-infosForm {
  background-color: #1B2037;
  border-radius: 10px;
  padding: 10px;
}
.BC-View .BC-Content .BC-infos .BC-personnel {
  background-color: #1B2037;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}
.BC-View .BC-Content .BC-infos .BC-personnel .form-line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.BC-View .BC-Content .BC-infos .BC-personnel .form-line .btn {
  margin: auto 0;
}
.BC-View .BC-Content .BC-infos .BC-personnel .Personnel-list {
  border: rgba(233, 233, 233, 0.4) 1px solid;
  max-height: 250px;
  height: calc(90% - 20px);
  overflow-y: auto;
  background-color: #3D487B;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
}
.BC-View .BC-Content .BC-infos .BC-personnel .Personnel-list .personnel-tag {
  margin: 5px;
  display: flex;
  flex-direction: row;
  padding: 5px 7px;
  list-style: none;
  background-color: #1B2037;
  border-radius: 10px;
}
.BC-View .BC-Content .BC-infos .BC-personnel .Personnel-list .personnel-tag img {
  margin: auto 0 auto 5px;
  width: 30px;
  height: auto;
}
.BC-View .BC-Content .BC-infos .BC-personnel .Personnel-list .personnel-tag h6 {
  margin: auto 0;
}
.BC-View .BC-Content .BC-Patient {
  width: 30%;
  min-width: 275px;
  max-width: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.BC-View .BC-Content .BC-Patient .BC-PatientAdder {
  background-color: #1B2037;
  border-radius: 10px;
  padding: 15px;
}
.BC-View .BC-Content .BC-Patient .BC-PatientAdder .form-title {
  justify-content: space-evenly !important;
}
.BC-View .BC-Content .BC-Patient .BC-PatientAdder .form-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.BC-View .BC-Content .BC-Patient .BC-PatientAdder .form-line:last-child {
  margin-top: 20px;
}
.BC-View .BC-Content .BC-Patient .BC-InetDetails {
  background-color: #1B2037;
  border-radius: 10px;
  padding: 5px;
}
.BC-View .BC-Content .BC-Patient .BC-InetDetails .form-title button {
  background-color: #1B2037;
}
.BC-View .BC-Content .BC-Patient .BC-InetDetails textarea {
  width: 100%;
  height: 100px;
  overflow-y: auto;
}
.BC-View .BC-Content .PatientList {
  width: 45%;
  min-width: 275px;
  max-width: 500px;
  height: 100%;
}

.PatientList .card {
  height: 80vh;
  width: 100%;
}
.PatientList .card .patient-listing {
  height: calc(80vh - 90px);
  background-color: #3D487B;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
.PatientList .card .patient-listing table {
  width: 100%;
}

.BC-GlobalView {
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.BC-GlobalView section {
  width: 50%;
  min-width: 300px;
  max-width: 640px;
  display: flex;
  flex-direction: column;
}
.BC-GlobalView section .Card {
  margin: auto 0;
  width: 95%;
  max-height: 60vh;
  overflow: hidden;
}
.BC-GlobalView section .Card .card-header, .BC-GlobalView section .Card .card-content {
  width: calc(100% - 20px);
}
.BC-GlobalView section .Card .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.BC-GlobalView section .Card .header button {
  margin: auto 0;
  background-color: #222844;
}
.BC-GlobalView section .Card .header button:last-child {
  margin-left: 5px;
}
.BC-GlobalView section .Card .header .PageNavigator {
  margin: auto 0;
}
.BC-GlobalView section .Card .header .searcher {
  max-width: 300px;
  min-width: 175px;
  height: 45px;
  background-color: #222844;
}
.BC-GlobalView section .Card .header .searcher .searcher-icon {
  height: 35px;
}
.BC-GlobalView section .Card .header .searcher .searcher-input {
  background-color: #222844;
}
.BC-GlobalView section .Card .BCtable {
  height: calc(60vh - 300px);
  background-color: #3D487B;
  overflow-y: scroll;
  padding: 10px 0;
  border-radius: 10px;
}
.BC-GlobalView section .Card .BCtable .table-item {
  display: flex;
  padding: 5px 10px;
  border-bottom: 1px #ED3444 solid;
  flex-direction: row;
  transition: all 400ms;
  cursor: pointer;
}
.BC-GlobalView section .Card .BCtable .table-item img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.BC-GlobalView section .Card .BCtable .table-item:last-child {
  border-bottom: none;
}
.BC-GlobalView section .Card .BCtable .table-item:hover {
  background-color: #435089;
  border-radius: 10px 10px 0 0;
}
.BC-GlobalView section .Card .BCtable .table-item:hover h5 {
  font-weight: 700;
}

.Factures {
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
}
.Factures .FactureCenter {
  margin: 40px auto 0 auto;
  width: 80%;
  max-height: 80%;
  overflow-y: hidden;
  border-radius: 10px;
}
.Factures .FactureCenter .table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Factures .FactureCenter .table-header .btn {
  font-size: 28px;
  margin: auto 0;
}
.Factures .FactureCenter .table-header .exporter {
  margin: auto 0;
  display: flex;
  flex-direction: row;
  background-color: #222844;
  height: 50px;
  border-radius: 10px;
  padding: 5px;
}
.Factures .FactureCenter .table-header .exporter input {
  height: 40px;
  margin: auto 6px;
}
.Factures .FactureCenter .table-header .exporter a, .Factures .FactureCenter .table-header .exporter label, .Factures .FactureCenter .table-header .exporter .exporter-part {
  margin: auto 0;
}
.Factures .FactureCenter .table-header .exporter img {
  width: 40px;
  height: 40px;
}
.Factures .FactureCenter .table-container {
  width: 100%;
  background-color: #1B2037;
  border-radius: 10px;
}
.Factures .FactureCenter .table-container .link {
  font-weight: 700;
  cursor: pointer;
}
.Factures .FactureCenter .table-container table {
  width: 100%;
}
.Factures .FactureCenter .table-container table button {
  margin: 0 auto;
  background-color: #3D487B;
}

.StockManager {
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
}
.StockManager .StockManagerCenter {
  margin: 40px auto 0 auto;
  width: 80%;
  max-height: 80%;
  overflow-y: hidden;
  border-radius: 10px;
}
.StockManager .StockManagerCenter .table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.StockManager .StockManagerCenter .table-header .btn {
  font-size: 28px;
  margin: auto 0;
}
.StockManager .StockManagerCenter .table-container {
  width: 100%;
  background-color: #1B2037;
  border-radius: 10px;
}
.StockManager .StockManagerCenter .table-container .link {
  font-weight: 700;
  cursor: pointer;
}
.StockManager .StockManagerCenter .table-container table {
  width: 100%;
}
.StockManager .StockManagerCenter .table-container table button {
  margin: 0 auto;
  background-color: #3D487B;
}

.StockSettings {
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.StockSettings .retour {
  position: fixed;
  font-size: 25px;
  top: 80px;
  right: 15px;
}
.StockSettings .table-header .searcher, .StockSettings .table-header input {
  background-color: #222844;
}
.StockSettings .table-content {
  width: 100%;
  background-color: #3D487B;
  border-radius: 10px;
  max-height: 400px;
  overflow-y: auto;
}
.StockSettings .table-content table {
  width: 100%;
}
.StockSettings .table-content table td {
  padding: 10px;
  border-left: none;
  border-right: none;
}
.StockSettings .table-content table td img {
  cursor: pointer;
  transition: all 400ms;
}
.StockSettings .table-content table td img:hover {
  transform: rotate(380deg);
}
.StockSettings .table-content table tr {
  cursor: default;
  transition: all 400ms;
  border-radius: 10px 10px 0 0;
}
.StockSettings .table-content table tr:hover {
  background-color: #435089;
}
.StockSettings .table-footer {
  width: 100%;
}
.StockSettings .table-footer .form-line {
  width: 100%;
  justify-content: space-between;
}
.StockSettings .table-footer .btn {
  margin: auto 0;
}

.TablePage {
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
}
.TablePage .PageCenter {
  margin: 40px auto 0 auto;
  width: 85%;
  max-height: 80%;
  overflow-y: hidden;
  border-radius: 10px;
}
.TablePage .PageCenter .table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.TablePage .PageCenter .table-header .btn {
  font-size: 28px;
  margin: auto 0;
}
.TablePage .PageCenter .table-header .selector {
  margin: auto 0;
  display: flex;
  flex-direction: row;
}
.TablePage .PageCenter .table-header .selector input {
  border-radius: 10px 0 0 10px;
  background-color: #1B2037;
  -moz-appearance: textfield;
}
.TablePage .PageCenter .table-header .selector input::-webkit-outer-spin-button, .TablePage .PageCenter .table-header .selector input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.TablePage .PageCenter .table-header .selector button {
  margin: auto 0;
  border-radius: 0 10px 10px 0;
  background-color: #3D487B;
  border: none;
  cursor: pointer;
}
.TablePage .PageCenter .table-header .selector button img {
  transition: all 400ms;
  width: 40px;
  height: 40px;
}
.TablePage .PageCenter .table-header .selector button img:hover {
  transform: scale(0.9) rotate(90deg);
}
.TablePage .PageCenter .table-container {
  width: 100%;
  background-color: #1B2037;
  border-radius: 10px;
}
.TablePage .PageCenter .table-container .link {
  font-weight: 700;
  cursor: pointer;
}
.TablePage .PageCenter .table-container table {
  width: 100%;
}
.TablePage .PageCenter .table-container table button {
  margin: 0 auto;
  background-color: #3D487B;
}

.MyAccount {
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
}
.MyAccount .center {
  width: 85%;
  min-width: 300px;
  margin: auto;
  height: 80%;
}
.MyAccount .center .pageSelector {
  display: flex;
  flex-direction: row;
  height: 40px;
}
.MyAccount .center .pageSelector button {
  padding: 0 10px;
  border: none;
  margin: 0 2px;
  font-size: 100%;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  transition: all 400ms;
  background-color: #3D487B;
  color: #FFF;
}
.MyAccount .center .pageSelector button:hover {
  background-color: #222844;
  color: #E9E9E9;
}
.MyAccount .center .pageSelector button:first-child {
  margin: 0 2px 0 0;
}
.MyAccount .center .pageSelector .selected {
  background-color: #1B2037;
  cursor: default;
  color: #FFF;
}
.MyAccount .center .pageSelector .selected:hover {
  background-color: #1B2037 !important;
  color: #FFF !important;
}
.MyAccount .center .PageDisplayed {
  background-color: #1B2037;
  width: 100%;
  height: calc(100% - 40px);
  border-radius: 0 10px 10px 10px;
}
.MyAccount .center .Infos {
  display: flex;
  flex-direction: row;
}
.MyAccount .center .Infos .modifier {
  width: 40%;
  margin: auto 0;
  padding: 10px 15px;
  height: 90%;
  overflow-y: scroll;
  border-right: 1px #ED3444 solid;
}
.MyAccount .center .Infos .other {
  width: 59%;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.MyAccount .center .Infos .other .sanctions h1 {
  text-align: center;
}
.MyAccount .center .Infos .other .sanctions ul {
  height: 200px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  background-color: #3D487B;
  overflow-y: scroll;
  padding: 0 10px;
}
.MyAccount .center .Infos .other .sanctions ul .sanctionTag {
  margin: 5px 0;
  color: #E9E9E9;
  list-style: none;
  font-size: 17px;
  font-family: Nunito;
}
.MyAccount .center .Infos .other .materiel h1 {
  text-align: center;
}
.MyAccount .center .Infos .other .materiel ul {
  height: 200px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  background-color: #3D487B;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
}
.MyAccount .center .Infos .other .materiel ul .materialTag {
  display: flex;
  flex-direction: row;
  list-style: none;
  background-color: #222844;
  width: min-content;
  height: 40px;
  padding: 5px 7px;
  border-radius: 10px;
  margin: 5px;
}
.MyAccount .center .Infos .other .materiel ul .materialTag p {
  margin: auto 0;
  color: #E9E9E9;
}
.MyAccount .center .Infos .other .materiel ul .materialTag img {
  width: 40px;
  height: 40px;
}
.MyAccount .center .MyService {
  display: flex;
  flex-direction: row;
}
.MyAccount .center .MyService .request {
  width: 55%;
  border-right: 1px #ED3444 solid;
}
.MyAccount .center .MyService .request .form {
  padding-top: 10px;
  width: 100%;
  height: 280px;
}
.MyAccount .center .MyService .request .form label {
  margin: auto 0;
}
.MyAccount .center .MyService .request .form .form-inline {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 40px);
}
.MyAccount .center .MyService .request .list {
  border-radius: 10px;
  margin: auto auto;
  width: 90%;
  height: calc(100% - 320px);
  background-color: #3D487B;
  overflow-y: auto;
}
.MyAccount .center .MyService .request .list table {
  width: 100%;
}
.MyAccount .center .MyService .request .list table th {
  background-color: #435089;
}
.MyAccount .center .MyService .review {
  display: flex;
  width: 45%;
}
.MyAccount .center .MyService .review .graphic {
  margin: auto;
}
.MyAccount .center .MyPrimes, .MyAccount .center .MyRemboursements, .MyAccount .center .MyAbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.MyAccount .center .MyPrimes section, .MyAccount .center .MyRemboursements section, .MyAccount .center .MyAbs section {
  padding: 10px;
}
.MyAccount .center .MyPrimes .Form, .MyAccount .center .MyRemboursements .Form, .MyAccount .center .MyAbs .Form {
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  width: 30%;
  border-right: 1px #ED3444 solid;
}
.MyAccount .center .MyPrimes .Form .form-part, .MyAccount .center .MyRemboursements .Form .form-part, .MyAccount .center .MyAbs .Form .form-part {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.MyAccount .center .MyPrimes .Form .form-part label, .MyAccount .center .MyRemboursements .Form .form-part label, .MyAccount .center .MyAbs .Form .form-part label {
  margin: auto 0;
}
.MyAccount .center .MyPrimes .table, .MyAccount .center .MyRemboursements .table, .MyAccount .center .MyAbs .table {
  width: 62%;
  margin: 0 auto;
  display: flex;
}
.MyAccount .center .MyPrimes .table .table-scroller, .MyAccount .center .MyRemboursements .table .table-scroller, .MyAccount .center .MyAbs .table .table-scroller {
  border-radius: 10px;
  margin: auto auto;
  width: 100%;
  background-color: #3D487B;
  overflow-y: auto;
  padding: 0px;
  height: 90%;
}
.MyAccount .center .MyPrimes .table .table-scroller table, .MyAccount .center .MyRemboursements .table .table-scroller table, .MyAccount .center .MyAbs .table .table-scroller table {
  width: 100%;
}
.MyAccount .center .MyPrimes .table .table-scroller table th, .MyAccount .center .MyRemboursements .table .table-scroller table th, .MyAccount .center .MyAbs .table .table-scroller table th {
  background-color: #435089;
}

.demandes {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.demandes .header {
  width: 100%;
  margin-top: 1px;
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  position: fixed;
  flex-direction: row;
  height: 40px;
  z-index: 10;
  background-color: #302E38;
}
.demandes .page-container {
  padding-top: 50px;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 121px);
  overflow-y: auto;
}
.demandes .page-container .request-container {
  margin: 10px auto;
}
.demandes .page-container .request-container h1 {
  text-align: center;
}
.demandes .page-container .request-container .table-container {
  background-color: #1B2037;
  border-radius: 10px;
}
.demandes .page-container .request-container .table-container th {
  position: unset;
}
.demandes .page-container .request-container th, .demandes .page-container .request-container td {
  font-size: 18px;
}
.demandes .page-container .request-container .btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.FichePersonnel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
  height: calc(100vh - 70px);
}
.FichePersonnel .left-part {
  margin-top: 0;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
}
.FichePersonnel .left-part .btn-container {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.FichePersonnel .left-part .btn-container .btn {
  margin: auto 0;
}
.FichePersonnel .left-part .btn-container img {
  width: 20px;
}
.FichePersonnel .left-part .PersoCard {
  background-color: #1B2037;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.FichePersonnel .left-part .material {
  background-color: #1B2037;
  border-radius: 10px;
  display: flex;
  width: 100%;
  height: 250px;
}
.FichePersonnel .left-part .material .material-list {
  margin: auto auto;
  height: 85%;
  overflow-y: auto;
  width: 90%;
  background-color: #3D487B;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 10px;
}
.FichePersonnel .left-part .material .material-list .material-item {
  padding: 10px 15px;
  margin: 10px;
  background-color: #1B2037;
  display: flex;
  flex-direction: row;
  height: min-content;
  border-radius: 10px;
}
.FichePersonnel .left-part .material .material-list .material-item img {
  width: 40px;
  height: 40px;
}
.FichePersonnel .left-part .material .material-list .material-item p {
  margin: auto 10px auto 0;
}
.FichePersonnel .center-part .sanctions-list {
  height: calc(100vh - 200px);
  display: flex;
  background-color: #3D487B;
  flex-direction: column;
  border-radius: 10px;
  overflow-y: auto;
  padding: 2px 5px;
}
.FichePersonnel .center-part .sanctions-list .sanctions-item {
  border-bottom: 1px #ED3444 solid;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.FichePersonnel .center-part .sanctions-list .sanctions-item label {
  font-size: 18px;
  font-weight: 700;
}
.FichePersonnel .center-part .sanctions-list .sanctions-item p {
  font-size: 18px;
  margin: 0px;
}
.FichePersonnel .center-part .sanctions-list .sanctions-item:last-child {
  border-bottom: none;
}
.FichePersonnel .right-part .notes-list {
  height: calc(100vh - 350px);
  display: flex;
  background-color: #3D487B;
  flex-direction: column;
  border-radius: 10px;
  overflow-y: auto;
  padding: 2px 5px;
}
.FichePersonnel .right-part .notes-list .note-item {
  border-bottom: 1px #ED3444 solid;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.FichePersonnel .right-part .notes-list .note-item label {
  font-size: 18px;
  font-weight: 700;
}
.FichePersonnel .right-part .notes-list .note-item p {
  font-size: 18px;
  margin: 0px;
}
.FichePersonnel .right-part .notes-list .note-item:last-child {
  border-bottom: none;
}
.FichePersonnel .right-part .notes-form {
  display: flex;
  flex-direction: column;
}
.FichePersonnel .right-part .notes-form .form-inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.FichePersonnel .right-part .notes-form .form-inline p, .FichePersonnel .right-part .notes-form .form-inline button {
  margin: auto 0;
}

.GradeList {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.GradeList .grades-selector {
  width: 20%;
  min-width: 200px;
  height: 100%;
  display: flex;
}
.GradeList .grades-selector .grade-list {
  margin: auto auto;
  background-color: #1B2037;
  border-radius: 10px;
  height: 60%;
  overflow-y: auto;
  width: 90%;
}
.GradeList .grades-selector .grade-list table {
  width: 100%;
}
.GradeList .grades-selector .grade-list table tr {
  cursor: pointer;
  transition: all 500ms;
}
.GradeList .grades-selector .grade-list table tr:hover {
  background-color: #222844;
}
.GradeList .grades-selector .grade-list table .grade {
  width: 90%;
}
.GradeList .grades-selector .grade-list table .power {
  width: 10%;
}
.GradeList .bigpart {
  width: 80%;
  min-width: 900px;
  height: 100%;
  display: flex;
}
.GradeList .bigpart .bigbordel {
  margin: auto auto;
  background-color: #1B2037;
  border-radius: 10px;
  height: 80%;
  overflow: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
}
.GradeList .bigpart .header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 14;
  border-bottom: 1px #E9E9E9 solid;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 80px;
  background-color: #3D487B;
}
.GradeList .bigpart .header input, .GradeList .bigpart .header .btn {
  background-color: #1B2037;
  margin: 10px 0;
}
.GradeList .bigpart .header .btn {
  margin: auto 0;
}
.GradeList .bigpart .perm-editor {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}
.GradeList .bigpart .perm-editor .perm-line {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  border-top: 1px #ED3444 solid;
}
.GradeList .bigpart .perm-editor .perm-line h4 {
  text-align: center;
  margin-bottom: 10px;
}
.GradeList .bigpart .perm-editor .perm-line th {
  font-size: 18px;
}
.GradeList .bigpart .perm-editor .perm-line:first-child {
  border-top: none;
  margin-top: 0px;
}

.TablePage {
  width: 100vw;
  height: 100%;
  display: flex;
}
.TablePage .page-center {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 70%;
  overflow: auto;
  background-color: #1B2037;
  border-radius: 10px;
}
.TablePage .page-center .header {
  background-color: #3D487B;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 125px;
  top: 0;
  position: sticky;
}
.TablePage .page-center .header h4 {
  margin: 15px 5px;
}
.TablePage .page-center .header button {
  margin: auto 10px;
  background-color: #1B2037;
}
.TablePage .page-center .header button img {
  width: 40px;
  height: 40px;
}
.TablePage .page-center .container {
  padding: 10px;
}
.TablePage .page-center .container .chann-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ContentManager {
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  overflow-y: auto;
}
.ContentManager .list {
  background-color: #3D487B;
  border-radius: 10px;
  height: 200px;
  overflow-y: auto;
}
.ContentManager .list table {
  width: 100%;
  border-radius: 10px;
}
.ContentManager .list table td {
  border: none;
  border-bottom: 1px #ED3444 solid;
}
.ContentManager .list table td img {
  cursor: pointer;
}
.ContentManager .list table tr:last-child td {
  border: none;
}
.ContentManager .list table .name {
  width: 90%;
}
.ContentManager .form {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.ContentManager .form button {
  margin: auto 10px;
}
.ContentManager .form button img {
  height: 35px;
  width: 35px;
}
.ContentManager .form input {
  width: 80%;
}
.ContentManager .form-diviser {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ContentManager .form-diviser .form-divider {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.ContentManager .form-diviser .form-divider textarea {
  width: 100%;
}
.ContentManager .form-diviser .form-divider button {
  margin: auto 10px;
}
.ContentManager .form-diviser .form-divider button img {
  height: 35px;
  width: 35px;
}
.ContentManager .form-diviser .form-divider input {
  width: 80%;
}

/*# sourceMappingURL=app.css.map */
